body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    display: flex;
    flex-grow: 1;
}

.box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 20px;
    padding: 20px;
    font-size: 50px;
    text-align: center;
}